<div class="main-container">
  <form #loginForm="ngForm" class="login-form">
    <span class="p-float-label">
      <input id="username" name="username" type="text" pInputText ngModel />
      <label for="username">Username</label>
    </span>
    <div class="form-main">
      <span class="p-float-label">
        <input
          id="password"
          name="password"
          type="password"
          pInputText
          ngModel
        />
        <label for="password">Password</label>
      </span>
    </div>
    <div class="form-footer">
      <button
        pButton
        type="button"
        label="Login"
        class="p-button-success p-button-rounded"
        (click)="onLogin(loginForm)"
      ></button>
      <button
        pButton
        type="button"
        label="New User"
        class="p-button-secondary p-button-rounded"
        routerLink="/register"
      ></button>
    </div>
  </form>
</div>
